html {
    background-color: burlywood;
    font-family: Tahoma, sans-serif;
}

#title-line {
    background-color:burlywood;
    color:rgb(143, 143, 43);
    text-align: center;
}

.main-image {
    border-radius: 8px;
}