html {
    background-color: burlywood;
    font-family: Tahoma, sans-serif;
}

#title-line {
    background-color:burlywood;
    color:rgb(143, 143, 43);
    text-align: center;
}

.main-image {
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.description {
    color:rgb(105, 105, 30);
    text-align: center;
}

.list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.closing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-weight: bold;
}